<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="de" class="in.rdx.beans.DieselEngine"></bean>
    <bean id="pe" class="in.rdx.beans.PetrolEngine"></bean>
    <bean id="c" class="in.rdx.beans.Car">
        <property name="engine" ref="de"></property>
    </bean>
</beans>